openapi: 3.1.0
servers:
  - url: https://api.familycode.ca.gov/v1
    description: Production (read-only) Family Code service
info:
  description: |
    The **Family Code API** is the machine-readable companion to the California Family
    Code documentation. It returns the actual codified text of the Code — divisions,
    parts, chapters, articles, and sections — exactly as enacted.

    ### Key Features
    - **Section lookup**: Fetch any section by its number (e.g., `300`, `4055`).
    - **Division browsing**: List every section within a Division.
    - **Full-text search**: Find sections that mention a term.
    - **Stable citations**: Every response carries the section number and chapter.

    ### Developer Notes
    - All responses are read-only; the Code is the source of truth, not this API.
    - Section numbers use the official numbering (e.g., `5700.905`).
  version: 1.0.0
  title: Family Code API - OpenAPI 3.1
  license:
    name: Public domain (California statutory text)
tags:
  - name: sections
    description: Individual sections of the Family Code
  - name: divisions
    description: The 20 Divisions of the Family Code
paths:
  /divisions:
    get:
      tags:
        - divisions
      summary: List all divisions
      operationId: listDivisions
      responses:
        "200":
          description: The divisions of the Family Code
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Division"
              examples:
                exampleResponse:
                  summary: Two of the twenty divisions
                  value:
                    - number: 1
                      title: "Preliminary Provisions and Definitions"
                      range: "1-185"
                    - number: 3
                      title: "Marriage"
                      range: "300-560"
  /sections:
    get:
      tags:
        - sections
      summary: List sections
      operationId: listSections
      parameters:
        - name: division
          in: query
          description: Filter by division number
          schema:
            type: integer
        - name: part
          in: query
          description: Filter by part number within the division
          schema:
            type: integer
      responses:
        "200":
          description: Matching sections
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Section"
  /sections/{sectionNumber}:
    get:
      tags:
        - sections
      summary: Get a section by number
      operationId: getSection
      parameters:
        - name: sectionNumber
          in: path
          required: true
          description: The section number (e.g., 300 or 4055)
          schema:
            type: string
      responses:
        "200":
          description: The requested section
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Section"
              examples:
                exampleResponse:
                  summary: Family Code section 300
                  value:
                    sectionNumber: "300"
                    division: 3
                    part: 1
                    title: "Marriage is a personal relation / civil contract"
                    text: "Marriage is a personal relation arising out of a civil contract between two persons, to which the consent of the parties capable of making that contract is necessary."
                    enactedBy: "Stats. 1992, Ch. 162, Sec. 10"
        "404":
          description: Section not found
  /search:
    get:
      tags:
        - sections
      summary: Full-text search
      operationId: searchSections
      parameters:
        - name: q
          in: query
          required: true
          description: Search term
          schema:
            type: string
      responses:
        "200":
          description: Sections matching the query
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SearchResult"
components:
  schemas:
    Division:
      type: object
      properties:
        number:
          type: integer
          description: Division number (1 through 20, with gaps)
        title:
          type: string
          description: Official division title
        range:
          type: string
          description: Section range, e.g. "300-560"
    Section:
      type: object
      properties:
        sectionNumber:
          type: string
          description: Official section number (e.g., "300" or "5700.905")
        division:
          type: integer
        part:
          type: integer
        title:
          type: string
          description: Section heading
        text:
          type: string
          description: The enacted text of the section
        enactedBy:
          type: string
          description: Statutory citation for the enactment
    SearchResult:
      type: object
      properties:
        sectionNumber:
          type: string
        title:
          type: string
        snippet:
          type: string
          description: Matching excerpt
